*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Josefin Sans",sans-serif;
}
header{
    padding-top: 20px;
    width: 100%;
    height: 100vh;
    background-color: #fbb73c;
    align-items: center;
}
a{
    text-decoration: none;
    color: white;

}
nav{
    display: flex;
    justify-content:space-around ;
}
.logo{
    font-size: 1.4em;
}
.menu ul{
    display: flex;
}
.menu ul li{
    padding: 0 15px;
    list-style: none;
}
.get-start{
    background-color: #ffc964;
    padding:12px 24px;
    border: 2px solid transparent;
}
.active:hover{
    transition: 2s linear ;
    border-bottom: 2px solid #fbb73c;
}
.center{
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50 -50);
}
header::before{
    content: "";
    width: 700px;
    height: 500px;
    position: absolute;
    left: 0;
    bottom: 0;
    background-size: 100% 100%;
    background-image:url(detect_pic.png)
}
.text::after{
    content: "";
    animation: changetext 7s infinite linear ;
    color: #00b894;
    font-size: 50px;
}
@keyframes changetext{
    0% {content: "Manjunath" ;}
    20% {content:"Detective";}
    50% {content:"Mystery";}
}
.copyright {
    font-size: 8pt;
    text-align: right;
    padding-bottom: 10px;
    color: grey;
}
