*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Josefin Sans",sans-serif;
 
}

header{
    padding-top: 20px;
    width: 100%;
    height: 100vh;
    background-color: #fbb73c;
    align-items: center;
}
a{
    text-decoration: none;
    color: white;

}
nav{
    display: flex;
    justify-content:space-around ;
}
.logo{
    font-size: 1.4em;
}
.menu ul{
    display: flex;
}
.menu ul li{
    padding: 0 15px;
    list-style: none;
}
.get-start{
    background-color: #ffc964;
    padding:12px 24px;
    border: 2px solid transparent;
}
.active:hover{
    transition: 2s linear ;
    border-bottom: 2px solid #fbb73c;
}
.center{
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50 -50);
}
header::before{
    content: "";
    width: 700px;
    height: 500px;
    position: absolute;
    left: 0;
    bottom: 0;
    background-size: 100% 100%;
    background-image:url(detect_pic.png);
}
.text::after{
    content: "";
    animation: changetext 9s infinite linear ;
    color: #00b894;
    font-size: 50px;
}
@keyframes changetext{
    0% {content: "Detective";}
    30% {content:"Mystery";}
    60% {content:"Investigate";}
    90% {content:"Reliable";}
 
}
.copyright {
    font-size: 10pt;
    bottom:0px;
    text-align:right;
    position: absolute;
    padding-bottom: 3px;
    right:0px; 
    color: grey;
}
.contacts img {
    height: 35px;
    width: 35px;
    margin-left: 7px;
    margin-right: 7px;
    
}
.contacts a {
    text-decoration: none;
}
.contacts img:hover {
    opacity: 0.8;
}
.contacts{
    text-align: right;
    bottom:0px;
    position: absolute;
    padding-bottom: 3px;
}
