*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Josefin Sans",sans-serif;
}
header{
    padding-top: 20px;
    width: 100%;
    height: 100vh;
    background-color: #fbb73c;
    align-items: center;
    
}
a{
    text-decoration: none;
    color: white;

}
nav{
    display: flex;
    justify-content:space-around ;
}
.logo{
    font-size: 1.4em;
}
.menu ul{
    display: flex;
}
.menu ul li{
    padding: 0 15px;
    list-style: none;
}
.get-start{
    background-color: #ffc964;
    padding:12px 24px;
    border: 2px solid transparent;
}
.active:hover{
    transition: 2s linear ;
    border-bottom: 2px solid #fbb73c;
}
